@use "../../styles/mixin.scss" as mixin;

.largeCircle {
  text-align: center;
  margin: 3em 0;
  position: relative;


  h2 {
    margin-inline: auto;
    font-size: 2rem;
    font-family: var(--font-space-mono), monospace;
    max-width: 600px;
    color: mixin.$color-dark-navy;

    @include mixin.tablet {
      font-size: 3.5rem;
    }

    @include mixin.desktop {
      margin: 0;
    }
  }

  p {
    padding: 2em 0;

  }
}

$circle-max-width: 445px;

.circleDiv {
  width: 100%;
  max-width: $circle-max-width;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;

  @include mixin.desktop {
    margin: initial;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @include mixin.desktop {
    flex-direction: row-reverse;
    align-items: center;
    gap: 3em;
  }

  .imgContainer,
  .copy {
    flex: 1;
  }

  .imgContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .copy {
    text-align: center;

    @include mixin.desktop {
      text-align: left;
      max-width: 445px;
    }
  }
}

.flipped {
  .flex {
    @include mixin.desktop {
      flex-direction: row;

      .imgContainer {
        justify-content: flex-start;
      }
    }
  }

  .arrowContainer {
    @include mixin.desktop {
      right: auto;
      left: 0;

      img {
        object-position: left center;
      }
    }
  }
}

.arrowContainer {
  outline: 2px solid red;
  position: absolute;
  width: 25vw;
  max-width: $circle-max-width;
  aspect-ratio: 7/2;
  right: 0;
  top: 0;
  z-index: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: right center;
  }
}

.first .arrowContainer {
  width: 50vw;
  max-width: $circle-max-width;
  top: auto;
  bottom: 0;
}

.mirrored .arrowContainer {
  transform: scaleX(-1);
}