@use "styles/mixin.scss" as mixin;

.footer {
  font-family: "Space Mono", monospace;
  color: mixin.$color-dim-grey;
  padding: 1em 0;
  background-color: mixin.$color-dark-grey;
}

.navFlex,
.navLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  @include mixin.tablet {
    flex-direction: row;
  }
}

.navLinks {
  li {
    transition: all 0.25s ease;

    &:hover {
      color: mixin.$color-yellow;
    }
  }
}

.navSocials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  li {
    transition: all 0.25s ease;

    &:hover {
      color: mixin.$color-yellow;
    }
  }
}

.logoAndLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;

  @include mixin.tablet {
    flex-direction: row;
  }
}
